.weather {
    width: 400px;
    height: 140px;
    flex-shrink: 0;
    background-color: yellow;
    border-radius: 17.428px;
    background: #101744;
}


.time-date {
    color: #FFF;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 400px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 17px 17px 0px 0px;
    background: #FF4ADE;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.line {
    width: 1.367px;
    height: 79.37px;
    background-color: white;
}


.weather-info-wrapper {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
    gap: 20px;
    /* 43.907px */
}


.weather-info {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5px;

}


.therm {
    height: 20px;
    width: 20px;
}

.temprature {
    color: #FFF;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 139.688%;
    /* 109.27px */
}

.w-info-comp {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    ;
}


.w-info-comp img {
    height: 15px;
    width: 15px;
    ;
}